<section>
  <div class="container">
    <h1>Signup Page</h1>
    <form novalidate [formGroup]="form_signup">
      <!-- Username field  -->
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input matInput formControlName="username" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <!-- email field  -->
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <!-- Password field -->
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!form_signup.valid">
        Sign up
      </button>
      <br />
    </form>
    <h4>OR</h4>
    <a mat-button color="primary" routerLink="/login">Sign in</a>
  </div>
</section>
